VPN_SERVICE_PROVIDER=private internet access
OPENVPN_USER=XXXXXXXX
OPENVPN_PASSWORD=XXXXXXXX
SERVER_REGIONS=Germany,Poland,Netherlands,France,Belgium
STACKS_PATH=/mnt/host/d/Docker/stacks
DOWNLOADS_PATH=/mnt/host/e/downloads
MOVIES_PATH=/mnt/host/e/movies
TV_PATH=/mnt/host/e/tvshows
ARRS_HOST=XXXXXXXX
